<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="MCGameDataEntities" providerName="System.Data.EntityClient"
        connectionString="metadata=res://*/MCGameData.csdl|res://*/MCGameData.ssdl|res://*/MCGameData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.78;initial catalog=MCGameData;user id=ryantom212;password=Tomryan0;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <securityPolicy xdt:Transform="Insert">
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>
    <trust
      level="Full"
      originUrl=""
      processRequestInApplicationTrust="true"
      xdt:Transform="Insert"
   />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>